<div class="form-horizontal">
  <div class="panel panel-default">
    <div class="panel-heading">Invoice Details</div>
    <div class="panel-body">

    <div class="panel panel-default">
      <div class="panel-heading">Jobs</div>
      <div class="panel-body">

        <table class="col-xs-12">
          <th>
            Job Id
          </th>
          <th>
            Ref
          </th>
          <th>
            Price
          </th>
          <th> </th>
          <tr ng-repeat="a in data.jobs">
            <td>
              {{ a.jobId }}
            </td>
            <td>
              {{ a.ref }}
            </td>
            <td>
              {{ a.price }}
            </td>
            <td>
              <a ng-click="removeJob($index)">Remove</a>
            </td>
          </tr>
          <tr>
            <td>

              <gi-select2 options="availableJobs" selection="selectedJob" field="jobId" style="width: 100%"></gi-select2>

            </td>
            <td>
              <button class="btn btn-primary" ng-click="addJob(selectedJob)">Add Job</button>
            </td>
          </tr>
        </table>

      </div>
    </div>

    <label class="control-label">Invoice Date:</label>
    <input type="text" class="form-control" is-open="false" datepicker-popup="dd/MM/yyyy" ng-model="data.date" ng-required="true" close-text="Close" />

    <label class="control-label">Paid?:</label>
    <input type="checkbox" class="form-control" ng-model="data.paid" />

    <label class="control-label">Invoice Amount:</label>
    <p class="form-control-static">{{ data.amount }}</p>

    </br>
    <button class="btn btn-primary" ng-click="saveInvoice()">Save</button>
    <button class="btn btn-primary" ng-click="deleteInvoice()">Delete</button>

  </div>

</div>
</p>
<a href="/list/jobs">Back To List Of Invoices</a>
