<div class="form-horizontal">
  <div class="panel panel-default">
    <div class="panel-heading">Invoice Details</div>
    <div class="panel-body">

    <div class="panel panel-default">
      <div class="panel-heading">Jobs</div>
      <div class="panel-body">

        <table class="col-xs-12">

          <tr>
            <td>
              <label class="control-label">Haulier</label>
            </td>
            <td>
              <label class="control-label">Job From Date</label>
            </td>
            <td>
              <label class="control-label">Job To Date</label>
            </td>
            <td>
              <label class="control-label"></label>
            </td>
          </tr>

          <tr>
            <td>
              <gi-select2 options="availableHauliers" selection="selectedHaulier" field="customerCode" style="width: 100%"></gi-select2>
            </td>
            <td>
              <input type="text" class="form-control" is-open="false" datepicker-popup="dd/MM/yyyy" ng-model="jobSearchFrom" ng-required="true" close-text="Close" />
            </td>
            <td>
              <input type="text" class="form-control" is-open="false" datepicker-popup="dd/MM/yyyy" ng-model="jobSearchTo" ng-required="true" close-text="Close" />
            </td>
            <td>
              <button class="btn btn-primary" ng-click="searchJobs()">Search</button>
            </td>
          </tr>

          <tr ng-repeat="x in availableJobs">
            <td>
              {{ x.jobId }} {{ x.haulier.haulierName }}
            </td>
            <td>
              {{ x.dateFrom | date:"dd/MM/yyyy" }}
            </td>
            <td>
              {{ x.dateTo | date:"dd/MM/yyyy" }}
            </td>
            <td>
              <input type="checkbox" class="form-control" ng-model="data.paid" />
            </td>
          </tr>

        </table>

      </div>
    </div>

    <label class="control-label">Invoice Date:</label>
    <input type="text" class="form-control" is-open="false" datepicker-popup="dd/MM/yyyy" ng-model="data.date" ng-required="true" close-text="Close" />

    <label class="control-label">Paid?:</label>
    <input type="checkbox" class="form-control" ng-model="data.paid" />

    <label class="control-label">Invoice Amount:</label>
    <p class="form-control-static">{{ data.amount }}</p>

    </br>
    <button class="btn btn-primary" ng-show="showPrint" ng-click="generateInvoice()">Print Invoice</button>
    <button class="btn btn-primary" ng-click="saveInvoice()">Save</button>
    <button class="btn btn-primary" ng-click="deleteInvoice()">Delete</button>

  </div>

</div>
</p>
<a href="/list/invoices">Back To List Of Invoices</a>
