<div class="form-horizontal">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">Authorities</div>
      <div class="panel-body">

        <label class="control-label">Police:</label>
        <div class=authority-container>
            <span class="label label-default" ng-show="data.policeAuthorities.length == 0">No authorities specified</span>
            <span class="label label-info" ng-repeat="p in data.policeAuthorities">
              {{ p.name }}
              <span class="fa fa-times" ng-click="removeAuthority($index, 'police')"></span>
            </span>
        </div>

        <label class="control-label">Councils:</label>
        <div class=authority-container>
            <span class="label label-default" ng-show="data.councilAuthorities.length == 0">No authorities specified</span>
            <span class="label label-info" ng-repeat="c in data.councilAuthorities">
              {{ c.name }}
              <span class="fa fa-times" ng-click="removeAuthority($index, 'council')"></span>
            </span>
        </div>

        <label class="control-label">Other:</label>
        <div class=authority-container>
            <span class="label label-default" ng-show="data.otherAuthorities.length == 0">No authorities specified</span>
            <span class="label label-info" ng-repeat="o in data.otherAuthorities">
              {{ o.name }}
              <span class="fa fa-times" ng-click="removeAuthority($index, 'other')"></span>
            </span>
        </div>

        <br />
        <label class="form-label">Add authority:</label>
        <input type="text" class="form-control" ng-model="lookups.selectedAuthority" placeholder="Type authority name" typeahead="a.name for a in filterAuthorities($viewValue)" typeahead-min-length="3" typeahead-editable="false" typeahead-loading="loading" typeahead-wait-ms="300" typeahead-on-select="authoritySelected($item, $model, $label)" />
      </div>
    </div>
  </div>

      <div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">Job Details</div>
    <div class="panel-body">


        <div class="col-md-6">
          <label class="control-label">Haulier:</label>
          <gi-select2 options="hauliers" selection="lookups.haulier" field="customerCode" style="width: 100%"></gi-select2>
        </div>

        <div class="col-md-6">
          <label class="control-label">Additional Reference:</label>
          <input type="text" class="form-control" ng-model="data.ref" ng-required="true" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Suffix:</label>
          <input type="text" class="form-control" ng-model="data.suffix" ng-required="true" />

        </div>
        <div class="col-md-6">

          <label class="control-label">Date Of Notice:</label>
          <input type="text" class="form-control" is-open="false" datepicker-popup="dd/MM/yyyy" ng-model="data.dateOfNotice" ng-required="true" close-text="Close" />

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Date From:</label>
          <input type="text" class="form-control" is-open="false" datepicker-popup="dd/MM/yyyy" ng-model="data.dateFrom" ng-required="true" close-text="Close" />

        </div>
        <div class="col-md-6">
          <label class="control-label">Date To:</label>
          <input type="text" class="form-control" is-open="false" datepicker-popup="dd/MM/yyyy" ng-model="data.dateTo" ng-required="true" close-text="Close" />

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Address From:</label>
          <input type="text" class="form-control" ng-model="data.addressFrom" ng-required="true" />

        </div>
        <div class="col-md-6">
          <label class="control-label">Address To:</label>
          <input type="text" class="form-control" ng-model="data.addressTo" ng-required="true" />

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Route:</label>
          <input type="text" class="form-control" ng-model="data.route" ng-required="true" />

        </div>
        <div class="col-md-6">
          <label class="control-label">Type Of Vehicle:</label>
          <input type="text" class="form-control" ng-model="data.vehicle" ng-required="true" />

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Load Description:</label>
          <gi-select2 options="loads" selection="lookups.load" field="name" style="width: 100%"></gi-select2>

        </div>
        <div class="col-md-6">
          <label class="control-label">Number Of Loads:</label>
          <input type="number" class="form-control" ng-model="data.numberOfLoads" ng-required="true" />

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Return:</label>
          <input type="checkbox" class="form-control" ng-model="data.return" />

        </div>

        <div class="col-md-6">
          <label class="control-label">Vehicle Reg:</label>
          <input type="text" class="form-control" ng-model="data.reg" ng-required="true" />

        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Number Of Comms:</label>
          <input type="number" class="form-control" ng-model="data.numberOfComms" ng-change="priceJob()" ng-required="true" />

        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Price: &pound;{{ data.price | number:2 }}</label>
          <label class="control-label" ng-show="data.vatRate > 0">VAT: &pound;{{ data.vat | number:2 }}</label></br>
          <label class="control-label">Total: &pound;{{ (data.price + data.vat) | number:2 }}</label>

        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-primary" ng-click="saveJob()">Save</button>
          <button class="btn btn-primary" ng-show="showDelete" ng-click="deleteJob()">Delete</button>
          <button class="btn btn-primary" ng-show="showGenerateNotice" ng-click="generateNotice()">Generate Notice</button>

        </div>
      </div>


    </div>



    <!--
    <input type="number" class="form-control" ng-model="data.price" ng-required="true" />
    -->

    <!--
    <input type="number" class="form-control" ng-model="data.vat" ng-required="true" />

    <label class="control-label">Vat Rate:</label>
    <input type="number" class="form-control" ng-model="data.vatRate" ng-required="true" />
    -->

    </div>

</div>
</p>
<a href="/list/jobs">Back To List Of Jobs</a>
