<div class="form-horizontal">
  <div class="panel panel-default">
    <div class="panel-heading">Job Details</div>
    <div class="panel-body">

    <div class="panel panel-default">
      <div class="panel-heading">Authorities</div>
      <div class="panel-body">

        <table class="col-xs-12">
          <tr>
            <td>
              <label class="control-label">Councils:</label>
            </td>
          </tr>
          <tr ng-repeat="a in data.councilAuthorities">
            <td>
              {{ a.name }}
            </td>
            <td>
              <a ng-click="removeAuthority($index, 'Council')">Remove</a>
            </td>
          </tr>
          <tr>
            <td>

              <gi-select2 options="councilAuthorities" selection="selectedCouncilAuthority" field="name" style="width: 100%"></gi-select2>

            </td>
            <td>
              <button class="btn btn-primary" ng-click="addAuthority(selectedCouncilAuthority)">Add Authority</button>
            </td>
          </tr>
        </table>

        <table class="col-xs-12">
          <tr>
            <td>
              <label class="control-label">Police:</label>
            </td>
          </tr>
          <tr ng-repeat="a in data.policeAuthorities">
            <td>
              {{ a.name }}
            </td>
            <td>
              <a ng-click="removeAuthority($index, 'Police')">Remove</a>
            </td>
          </tr>

          <tr>
            <td>
              <gi-select2 options="policeAuthorities" selection="selectedPoliceAuthority" field="name" style="width: 100%"></gi-select2>

            </td>
            <td>
              <button class="btn btn-primary" ng-click="addAuthority(selectedPoliceAuthority)">Add Authority</button>
            </td>
          </tr>
        </table>

        <table class="col-xs-12">
          <tr>
            <td>
              <label class="control-label">Other:</label>
            </td>
          </tr>
          <tr ng-repeat="a in data.otherAuthorities">
            <td>
              {{ a.name }}
            </td>
            <td>
              <a ng-click="removeAuthority($index, 'Other')">Remove</a>
            </td>
          </tr>

          <tr>
            <td>
              <gi-select2 options="otherAuthorities" selection="selectedOtherAuthority" field="name" style="width: 100%"></gi-select2>

            </td>
            <td>
              <button class="btn btn-primary" ng-click="addAuthority(selectedOtherAuthority)">Add Authority</button>
            </td>
          </tr>
        </table>

      </div>
    </div>

    <label class="control-label">Haulier:</label>
    <gi-select2 options="hauliers" selection="lookups.haulier" field="customerCode" style="width: 100%"></gi-select2>

    <label class="control-label">Additional Reference:</label>
    <input type="text" class="form-control" ng-model="data.ref" ng-required="true" />

    <label class="control-label">Suffix:</label>
    <input type="text" class="form-control" ng-model="data.suffix" ng-required="true" />

    <label class="control-label">Date Of Notice:</label>
    <input type="text" class="form-control" is-open="false" datepicker-popup="dd/MM/yyyy" ng-model="data.dateOfNotice" ng-required="true" close-text="Close" />

    <label class="control-label">Date From:</label>
    <input type="text" class="form-control" is-open="false" datepicker-popup="dd/MM/yyyy" ng-model="data.dateFrom" ng-required="true" close-text="Close" />

    <label class="control-label">Date To:</label>
    <input type="text" class="form-control" is-open="false" datepicker-popup="dd/MM/yyyy" ng-model="data.dateTo" ng-required="true" close-text="Close" />

    <label class="control-label">Address From:</label>
    <input type="text" class="form-control" ng-model="data.addressFrom" ng-required="true" />

    <label class="control-label">Address To:</label>
    <input type="text" class="form-control" ng-model="data.addressTo" ng-required="true" />

    <label class="control-label">Route:</label>
    <input type="text" class="form-control" ng-model="data.route" ng-required="true" />

    <label class="control-label">Type Of Vehicle:</label>
    <input type="text" class="form-control" ng-model="data.vehicle" ng-required="true" />

    <label class="control-label">Load Description:</label>
    <gi-select2 options="loads" selection="lookups.load" field="name" style="width: 100%"></gi-select2>

    <label class="control-label">Number Of Loads:</label>
    <input type="number" class="form-control" ng-model="data.numberOfLoads" ng-required="true" />

    <label class="control-label">Return:</label>
    <input type="checkbox" class="form-control" ng-model="data.return" />

    <label class="control-label">Vehicle Reg:</label>
    <input type="text" class="form-control" ng-model="data.reg" ng-required="true" />

    <label class="control-label">Number Of Comms:</label>
    <input type="number" class="form-control" ng-model="data.numberOfComms" ng-change="priceJob()" ng-required="true" />

    <label class="control-label">Price: &pound;{{ data.price | number:2 }}</label>
    <!--
    <input type="number" class="form-control" ng-model="data.price" ng-required="true" />
    -->

    <label class="control-label" ng-show="data.vatRate > 0">VAT: &pound;{{ data.vat | number:2 }}</label>
    <!--
    <input type="number" class="form-control" ng-model="data.vat" ng-required="true" />

    <label class="control-label">Vat Rate:</label>
    <input type="number" class="form-control" ng-model="data.vatRate" ng-required="true" />
    -->

    <label class="control-label">Total: &pound;{{ (data.price + data.vat) | number:2 }}</label>

    </br>
    <button class="btn btn-primary" ng-click="saveJob()">Save</button>
    <button class="btn btn-primary" ng-show="showDelete" ng-click="deleteJob()">Delete</button>
    <button class="btn btn-primary" ng-show="showGenerateNotice" ng-click="generateNotice()">Generate Notice</button>
  </div>

</div>
</p>
<a href="/list/jobs">Back To List Of Jobs</a>
