<div class="form-horizontal">
  <div class="panel panel-default">
    <div class="panel-heading">Load Details</div>
    <div class="panel-body">

      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Load Name:</label>
          <input type="text" class="form-control" ng-model="data.name" ng-required="true" />
        </div>
        <div class="col-md-6">
          <label class="control-label">Vehicle Length:</label>
          <input type="text" class="form-control" ng-model="data.vehicleLength" ng-required="true" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Vehicle Hang (Front):</label>
          <input type="text" class="form-control" ng-model="data.front" ng-required="true" />

        </div>
        <div class="col-md-6">
          <label class="control-label">Rear:</label>
          <input type="text" class="form-control" ng-model="data.rear" ng-required="true" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Length:</label>
          <input type="text" class="form-control" ng-model="data.length" ng-required="true" />
        </div>
        <div class="col-md-6">
          <label class="control-label">Width:</label>
          <input type="text" class="form-control" ng-model="data.width" ng-required="true" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Height:</label>
          <input type="text" class="form-control" ng-model="data.height" ng-required="true" />
        </div>
        <div class="col-md-6">
          <label class="control-label">Gross Weight:</label>
          <input type="text" class="form-control" ng-model="data.grossWeight" ng-required="true" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label class="control-label">AKA:</label>
          <input type="text" class="form-control" ng-model="data.aka" ng-required="true" />
        </div>
      </div>

    </div>
  </div>
</div>

<div class="form-horizontal">
  <div class="panel panel-default">
    <div class="panel-heading">Wheel Weight</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <label class="control-label">Weight 1:</label>
          <input type="text" class="form-control" ng-model="data.weight1" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Weight 2:</label>
          <input type="text" class="form-control" ng-model="data.weight2" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Weight 3:</label>
          <input type="text" class="form-control" ng-model="data.weight3" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Weight 4:</label>
          <input type="text" class="form-control" ng-model="data.weight4" ng-required="true" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label class="control-label">Weight 5:</label>
          <input type="text" class="form-control" ng-model="data.weight5" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Weight 6:</label>
          <input type="text" class="form-control" ng-model="data.weight6" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Weight 7:</label>
          <input type="text" class="form-control" ng-model="data.weight7" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Weight 8:</label>
          <input type="text" class="form-control" ng-model="data.weight8" ng-required="true" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label class="control-label">Weight 9:</label>
          <input type="text" class="form-control" ng-model="data.weight9" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Weight 10:</label>
          <input type="text" class="form-control" ng-model="data.weight10" ng-required="true" />
        </div>
      </div>

    </div>
  </div>
</div>

<div class="form-horizontal">
  <div class="panel panel-default">
    <div class="panel-heading">Wheel Spacing</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <label class="control-label">Space 1 to 2:</label>
          <input type="text" class="form-control" ng-model="data.space1to2" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Space 2 to 3:</label>
          <input type="text" class="form-control" ng-model="data.space2to3" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Space 3 to 4:</label>
          <input type="text" class="form-control" ng-model="data.space3to4" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Space 4 to 5:</label>
          <input type="text" class="form-control" ng-model="data.space4to5" ng-required="true" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label class="control-label">Space 5 to 6:</label>
          <input type="text" class="form-control" ng-model="data.space5to6" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Space 6 to 7:</label>
          <input type="text" class="form-control" ng-model="data.space6to7" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Space 7 to 8:</label>
          <input type="text" class="form-control" ng-model="data.space7to8" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Space 8 to 9:</label>
          <input type="text" class="form-control" ng-model="data.space8to9" ng-required="true" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label class="control-label">Space 9 to 10:</label>
          <input type="text" class="form-control" ng-model="data.space9to10" ng-required="true" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-horizontal">
  <div class="panel panel-default">
    <div class="panel-heading">Wheels</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <label class="control-label">Wheels 1:</label>
          <input type="text" class="form-control" ng-model="data.wheels1" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Wheels 2:</label>
          <input type="text" class="form-control" ng-model="data.wheels2" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Wheels 3:</label>
          <input type="text" class="form-control" ng-model="data.wheels3" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Wheels 4:</label>
          <input type="text" class="form-control" ng-model="data.wheels4" ng-required="true" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label class="control-label">Wheels 5:</label>
          <input type="text" class="form-control" ng-model="data.wheels5" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Wheels 6:</label>
          <input type="text" class="form-control" ng-model="data.wheels6" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Wheels 7:</label>
          <input type="text" class="form-control" ng-model="data.wheels7" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Wheels 8:</label>
          <input type="text" class="form-control" ng-model="data.wheels8" ng-required="true" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label class="control-label">Wheels 9:</label>
          <input type="text" class="form-control" ng-model="data.wheels9" ng-required="true" />
        </div>
        <div class="col-md-3">
          <label class="control-label">Wheels 10:</label>
          <input type="text" class="form-control" ng-model="data.wheels10" ng-required="true" />
        </div>
      </div>
    </br>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary" ng-click="saveLoad()">Save</button>
          <button class="btn btn-primary" ng-click="deleteLoad()">Delete</button>
        </div>
      </div>

    </div>
  </div>
</div>
</p>
<a href="/list/loads">Back To List Of Loads</a>
