<div class="form-horizontal">
  <div class="panel panel-default">
    <div class="panel-heading">Payments Details</div>
    <div class="panel-body">

    <div class="panel panel-default">
      <div class="panel-heading">Invoices</div>
      <div class="panel-body">

        <table class="col-xs-12">
          <tr ng-repeat="a in data.invoices">
            <td>
              {{ a.ref }}
            </td>
            <td>
              <a ng-click="removeInvoice($index)">Remove</a>
            </td>
          </tr>
          <tr>
            <td>

              <gi-select2 options="availableInvoices" selection="selectedJob" field="ref" style="width: 100%"></gi-select2>

            </td>
            <td>
              <button class="btn btn-primary" ng-click="addInvoice(selectedInvoice)">Add Invoice</button>
            </td>
          </tr>
        </table>

      </div>
    </div>

    <label class="control-label">Invoice Amount:</label>
    <input type="number" class="form-control" ng-model="data.value" ng-required="true" />

    <label class="control-label">Date Payment Received:</label>
    <input type="date" class="form-control" ng-model="data.date" ng-required="true" />

    <label class="control-label">VAT:</label>
    <input type="number" class="form-control" ng-model="data.vat" ng-required="true" />

    <label class="control-label">VAT Rate:</label>
    <input type="number" class="form-control" ng-model="data.vatRate" ng-required="true" />

    </br>
    <button class="btn btn-primary" ng-click="savePayment()">Save</button>
    <button class="btn btn-primary" ng-click="deletePayment()">Delete</button>

  </div>

</div>
</p>
<a href="/list/payments">Back To List Of Payments</a>
